name: Tourism Prediction MLOps Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Test Python imports
        run: |
          python -c "import pandas; import sklearn; import joblib; import huggingface_hub; print('All dependencies working')"
